[submodule "lib/IRremoteESP8266"]
	path = lib/IRremoteESP8266
	url = https://github.com/markszabo/IRremoteESP8266.git
[submodule "lib/pubsubclient"]
	path = lib/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
[submodule "lib/SimpleDHT"]
	path = lib/SimpleDHT
	url = https://github.com/winlinvip/SimpleDHT.git
